body{
  color:#333!important;
}
.cross{
  position: absolute;
  right: 3%;
  top:10px;
  z-index:2;
}
.page_blank{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color:rgba(0,0,0,.6);
  opacity:0;
  z-index:4;
  pointer-events:none;
}
.admin_form{
  position: fixed;
  background-color: #fff;
  height: 0px;
  width: 550px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -275px;
  overflow: auto;
  z-index: 4;
  border-radius: 10px;
}
.admin_form fieldset legend{
  margin-top:10px;
}
.admin_form fieldset p{
  margin-bottom: 20px;
}
/*#add_announcement_form .create_fieldset .form-group, #modify_announcement_form .modify_fieldset .form-group{
  margin:0;
}*/
.package_id, .product_id,.bot_id ,.member_wallet_type_hidden, .member_wallet_memberid,.member_wallet_member_walletid,.admin_id,.an_id,.member_bv_memberid,.member_fullname,.member_id,.trx_request_id{
  display: none!important;
}
.input_hidden{
  display: none!important;
}

/*search bar*/
/* .search_input{
  width:100% !important;
} */
.admin_member_fullname{
    position: absolute;
    top: 17%;
    right: 2%;
    z-index: 2;
    font-size: 12px;
}
.announcement .help-block{
  position: absolute;
  z-index: 2;
  top: 0%;
  font-size: 11px;
  font-weight: bold;
  right: 1%;
}
.input-group{

  width: 100%;
}
.input-group-addon.lable{
  padding-right: 20px;
  width:40%;
}
.form-control-feedback{
  display: none!important;
}
.padding_0{
  padding: 0px;
}

.input-group{
  width: 100%;
}
.input-group-addon.lable{
  width:40%;
}
.form-control-feedback{
  display: none!important;
}
.padding_0{
  padding: 0px;
}
.form-group {
    margin-bottom: 25px;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label, .error_message {
    position: absolute;
    margin: 0px;
    color: red;
    font-size: 12px;
}
label {
    margin: 0 5px 0 15px;
    font-size: 12px;
    font-weight: normal;
}
.padding_right{
  padding-left: 0px;
}
.success{
  color: green;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    opacity: 0;

}
.confirm_con{
  background-color: #fff;
  width: 300px;
  height: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -50px;
  border-radius: 10px;
  z-index: 4;
  overflow: hidden;
}
.confirm_con .content{
  padding: 10px;
}
.thumbnail{
  height: unset;
}

@media (max-width: 768px)
{
  .admin_form
  {
      width: 100%;
      margin-left: 0px;
      left: 0px;
  }
}
@media (max-width: 768px)
{
  .admin_form
  {
      width: 100%;
      margin-left: 0px;
      left: 0px;
  }
}
@media (max-width: 420px)
{
  .message_contanier {
    width: 360px !important;
    left: 83% !important;
  }
}
/*message*/
.message_contanier{
  width: 600px;
  left: 50%;
  height: 0;
  position: fixed;
  top: 60%;
  margin-left: -300px;
  margin-top: -300px;
  background-color: #fff;
  z-index: 1000;
  overflow: hidden;
  border-radius: 10px;
}
/* .message_reply_subject{
  padding: 10px;
  background-color: #fff;
} */
.message_reply_subject {
    padding: 10px;
    background-color: #777;
    color: #FFF;
}
.message_content{
  /* height: 45%; */
  overflow-y: scroll;
  padding: 10px; 
  /*position: absolute;*/
  z-index: -5;
  /*top: 47px;
  left: 0;
  right: 0;*/
  }
.message_content img{
  margin:auto;
  margin-bottom: 10px;

}
.message_attachment_display{
  margin: 50px 0px 20px;
}
.message_reply_content .message_attachment_display{
  margin: 10px 0 0 0;
}
.message_reply{
  /* position: absolute;
  bottom: 0; */
  padding:10px;
  background-color: #fff;
}
.message_reply_row{
  overflow: hidden;
}
.message_reply_content{
  clear: both;
  width: 200px;
  margin-bottom: 5px;
}
.message_type_0{
  float:left;
}
.message_type_1{
  float:right;
}
.message_color_0{
  background-color: #E7E7E7;
  border-radius: 10px;
  padding: 5px;
  color: #000;
}
.message_color_1{
  background-color: #4d83ff;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
}
.message_time{
  font-size: 10px;
}
.new_message{
    width: 30px;
    font-size: 10px;
    position: relative;
    padding: 3px;
    background: red;
    border-radius: 10px;
    float: right;
    color:#fff;
}
.close_subject {
    width: 40%;
    position: absolute;
    right: 10px;
    top: 10px;
}
.message_button{
  width: unset;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 5;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/*pagination*/
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
  background-color: #ddd;
  border-color:black;
  color:black;
}

.message_popup {
    width: 95% !important;
    left: 10px !important;
    margin: 0 !important;
    top: 10%;
}
.message_content img{
  width: 100%;
}
.message_content {
    height: 40%;
}
.message_reply_type{
  padding: 5px 0 0 5px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}



.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ddd;
    border-color: black;
    color: black;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.remit_log_attachment_con{
  position: fixed;
  width: 650px;
  top:200px;
  left:0;
  right:0;
  margin:auto;
  z-index: 1000;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.load_button{
  cursor: pointer;
}
.bank_slip_img{
  height: 300px;
  margin:auto;
}
@media (max-width: 550px) {
  .remit_log_attachment_con{
    width :300px;
    /*margin-left: -150px;*/

  }
}
.admin-action-btn{
  margin: 0.3%;
  white-space: nowrap;
}
.display_block_a{
  display: flex;

}
.search-filter{
  background-color: #C0C0C0;
}

.admin-background{
  background: #DCDCDC;
}
.total_rows{
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.table-title{
  font-size: 1.05rem !important;
}
.table th, .table td{
  padding: 0.50rem 0.9375rem;
  white-space:nowrap;
}
@media (max-width: 480px)
{
  .navbar .navbar-brand-wrapper {
    width: 260px;
  }
}

@media (max-width: 991px){
  .navbar .navbar-menu-wrapper {
    width: calc(100% - 260px);
  }
}

.modal-backdrop.fade {
opacity: 0;
filter: alpha(opacity=0);
}
.modal-backdrop.in {
opacity: 0.5;
filter: alpha(opacity=50);
}
.input-group-text{
  color: black !important;
}
.search-col{
  width: auto;
}