.home_table
{
    color: #fec503;
    background-color:rgba(0, 0, 0, 0.9);
}
.home_table thead
{
    
    font-size: 20px;
}
.home_table th
{
    padding-top: 20px;
}
.home_table td
{
    font-size: 15px;
    letter-spacing: 1px;
}
.home_table hr
{
    width: 90%;
    border-color: #fec503;
    margin-top: 5px;
    margin-bottom: 5px;
}
