nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: aqua;
    font-family: 'Righteous', cursive;
}

.logo{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
}

.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li{
    list-style: none;
    color:white;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
}

.burger div{
   width: 10px;
   height: 1.5px;
   background-color: white;
   margin: 1px;
   cursor: pointer;
}

@media screen and (max-width:1024px)
{
    .nav-links
    {
    
       width: 60%;
    }
}

@media screen and (max-width:748px)
{
    body{
        overflow-x: hidden;
    }
    .nav-links
{
   position: absolute;
   right: 0px;
   height: 92vh;
   top: 8vh;
   background-color: grey ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 40%;
   transform: translateX(100%);
   transition: transform 0.5s ease-in;
   color:white;
}
.nav-links li{
    
    color:white;
}
.burger{
    display: block;
}
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    top{
        opacity: 1;
        transform: translateX(0px);

    }
}