/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .web-view {display: none;}
    .mob-view {display: block;}

}


  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .web-view {display: none;}
    .mob-view {display: block;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .web-view {display: none;}
    .mob-view {display: block;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .web-view {display: block;}
    .mob-view {display: none;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .web-view {display: block;}
    .mob-view {display: none;}
  }