* { box-sizing: border-box; }

body {
  margin: 40px;
  background-color: #fff;
  color: #444;
  font: 1.4em Sansita, sans-serif;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding-right: 2.093333%;
}

.row {
  display: flex;
}

.col {
  padding: 10px;
  border-radius: 5px;
  background-color:orange;
  color: #fff;
  margin-bottom: 1em;
  margin-left: 2.093333%;
  
  flex: 0 0 auto;
}



.col.span2 {
  width: calc((6.20%*2) + 2.093333%);
}

.col.span3 {
  width: calc((6.20%*3) + (2.093333%*2));
}

.col.span4 {
  width: calc((6.20%*4) + (2.093333%*3));
}
